:root {
    --button-go-back-color: #f0eeef;
    --button-go-back-color-hover: #96daf0;
}

.button-go-back {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button-go-back:before,
.button-go-back:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button-go-back:before {
  border: 4px solid var(--button-go-back-color);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-go-back:after {
  border: 4px solid var(--button-go-back-color-hover);
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button-go-back:hover:before,
.button-go-back:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button-go-back:hover:after,
.button-go-back:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-go-back .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-go-back .button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: var(--button-go-back-color);
}

.button-go-back:hover .button-box,
.button-go-back:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
